body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* Ou outro peso padrão que você preferir */
    font-style: normal;
}
.inter-minhaclasse {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* Escolha um valor de 100 a 900 */
    font-style: normal;
}
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
nav {
    text-align: center;
    align-items: end;
    justify-content: center;
    padding: 10px;
    font-size: 1.2em;

}
.items{
    padding: 5px;
    display: grid;


}
.items img{

    width: 100%;
    margin-right: 100px;;
    height: auto;
    max-width: 150px;
    object-fit: cover;
}
.items a {
    margin: 0 30px;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-weight: ;
    position: relative;
}
.items a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #007BFF;
    left: 0;
    bottom: -5px;
    transition: width 0.2s ease;
}
.items a:hover::after {
    width: 100%;
}
.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-left: 150px;
    padding-right: 0px;
    padding-top:60px;
    background-color: #ffffff;

}
.text-section {
    max-width: 48%;
}
.text-section h1 {
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}
.text-section p {
    font-size: 1.2em;
    color: #464646;
    margin-bottom: 20px;

}
.contratar {
    background-color: #007BFF;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 1.2em;
    /* Definido aqui para evitar duplicação */
    cursor: pointer;
    width: 250px;
    height: 50px;
}
.contratar:hover {
    background-color: #009b27;
}
.contratar a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}


.image-section {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-right: 100px;
}

.image-section img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

}




/*sobre content */
.sobre-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    padding-left: 0px;
    padding-right: 100px;
}

.text-section2 {
    max-width: 50%;
    text-align: right;

}

.text-section2 h1 {
    font-size: 4em;
    font-weight: bolder;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: right;
}

.text-section2 p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 26px;
    text-align: right;

}

.image-section2 {

    margin: 0;
    padding: 0;
    padding-top: 60px;
    border-radius: 12px;
    padding-left: 50px;

}

.image-section2 img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

}

.image-section2 img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}




.contato {
    background-color: #007BFF;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 1.2em;
    /* Definido aqui para evitar duplicação */
    cursor: pointer;
    width: 250px;
    height: 50px;

}

.contato:hover {
    background-color: #009b27;
}

.contato a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}

/*services*/
.services-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    padding: 50px;

}

.services-section h1 {
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 20px;
    text-transform: uppercase;


}

.services-section p {
    font-size: 1.3em;
    color: #303030;
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 18%;
    height: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
    text-align: left;
}

.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 20px;
}

.service-card p {
    font-size: 1.2em;
    color: #333;
}

.service-card:hover {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transform: scale(1.10);
}

.service-card:hover h3,
.service-card:hover p {
    color: #fff;
}

@media (max-width: 768px) {
    .service-card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .service-card {
        width: 100%;
    }
}

.projetos-section {
    padding: 300px;
    background-color: #ffffff;
    /* Fundo leve para destacar o carrossel */
    text-align: center;
}

.projetos-section h2 {
    font-size: 3.2em;
    margin-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #333;
    /* Cor do texto */
}

.projetos-section p {
    font-size: 1.2em;
    color: #666;
    /* Texto mais suave */
    margin-bottom: 40px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



.contato-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
    padding-left: 300px;
    padding-top: 170px;
}

.text-section5 {
    display: flex;
    max-width: 80%;
    align-items: flex-start;
    text-align: center;

}

.text-section5 h2 {
    font-size: 3em;
    font-weight: bolder;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: right;
}

.contato-class {
    display: flex;
    align-items: flex-start;
    /* Alinha o h1 e o formulário ao topo */
    gap: 180px;
    /* Espaço entre o h1 e o formulário */
}

.contato-class h1 {

    font-size: 4.5em;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 80px;
    /* Remove margem padrão do h1 */



}




/* Formulário */
.formulario {
    background-color: #0B3FF6;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 20.84px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

formulario {
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 50%;
    max-width: 400px;
    justify-content: space-between;
}

.formulario h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: white;
    text-transform: uppercase;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #000000;
    /*texto GFCTECH   */
    font-weight: bold;
    text-align: center;
}

formulario div {
    margin-bottom: 1em;
}

label {
    display: block;
    text-align: left;
    color: #ffffff;
    margin-bottom: 0.1em;
}

/*texto formulario */
input,
textarea {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    padding: 0.6em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    transform: scale(1.05);
    /* Aumenta o tamanho do card em 5% ao passar o mouse */
    background-color: #ffffff;
}

input::placeholder,
textarea::placeholder {
    color: #000000;
    font-style: italic;
}

/*botao formulario*/
.button {
    text-align: center;
    padding-top: 25px;

}

button {
    border-radius: 27px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    height: 55px;
    width: 250px;
    font-size: large;


    padding: 0.5em 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: rgb(48, 255, 30);
    transform: translateY(-2px);
    color: #ffffff;
    text-decoration: wavy;

}

button:active {
    background-color: rgb(54, 27, 163);
    transform: translateY(0);
}

.footer-nav{

background-color: #d6d6d6;

}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .text-section,
    .image-section {
        max-width: 100%;
        padding: 0;
    }

    .text-section h1 {
        font-size: 2.5em;
    }

    .text-section p {
        font-size: 1em;
    }

    .image-section img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .text-section h1 {
        font-size: 2em;
    }

    .text-section p {
        font-size: 0.9em;
    }

    .image-section img {
        height: auto;
    }
}

@media (max-width: 768px) {
    .service-card {
        width: 100%;
        height: auto;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .contato-content {
        flex-direction: column;
        padding: 20px;
    }

    .text-section5 {
        max-width: 100%;
        text-align: center;
    }

    .contato-class {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}